@font-face {
  font-family: "haas55";
  src: url("../src/fonts/haas55.otf") format("opentype");
}

@font-face {
  font-family: "haas56";
  src: url("../src/fonts/haas56.otf") format("opentype");
}

* {
  margin: 0;
}

body {
  overflow: hidden;
}

.video_contain {
  position: absolute;
  top: -50%;
  left: -50%;
  width: 200%;
  height: 200%;
}

video {
  position: absolute;
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;
  margin: auto;
  min-height: 50%;
  min-width: 50%;
}

#btn-visit {
  font-family: "haas55";
  color: white;
  position: absolute;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  font-size: 3vw;
  line-height: 100vh;
  text-align: center;
  opacity: 1;
  transition: opacity .3s;
}

#btn-visit:hover {
  cursor: pointer;
}

body[video-launched="true"] #btn-visit {
  opacity: 0;
  pointer-events: none;
}

#carto {
  position: absolute;
  top: 0;
  left: 0;
  pointer-events: none;
  opacity: 0;
  transition: opacity .3s;
  width: 100vw;
  height: 100vh;
  background-image: url("../src/img/shapes.svg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: contain;
}

body[video-launched="true"] #carto {
  opacity: 1;
}